<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Countries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let country of searchResult">
    <ion-card>
      <img src="{{country.flags.png}}" />
      <ion-card-header>
        <ion-card-title>{{country.name.official}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-grid>
          <ion-row><ion-button width = 100% display = "block" (click) = "selectedCountryNews(country.cca2, country.name.official)">News</ion-button></ion-row>
          <ion-row><ion-button display = "block" (click) = "selectedCountryWeather(country.latlng, country.capital[0])">Weather</ion-button></ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
