<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>News for {{countryName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="searchStatus == 'error'">
    <h1>No news detected for {{countryName}}</h1>
  </div>
  <div *ngIf="searchStatus != 'error'">
    <ion-list *ngFor="let article of searchResult">
      <ion-card>
        <img src="{{article.image_url}}" />
        <ion-card-header>
          <ion-card-title>{{article.title}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          {{article.description}}
        </ion-card-content>
      </ion-card>
  
    </ion-list>
  </div>
  
</ion-content>
